{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "emotion",
    "@babel/plugin-transform-runtime"
  ]
}