*{
    margin: 0;
    padding: 0;
}

.diagram-container{
    background: #333333;
    width: 100%;
    height: 100%;
}

#canvas {
    /*height: 100%;*/
    background-color: rgb(60, 60, 60);
    background-size: 50px 50px;
    display: flex;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
}

.react-flow__node.react-flow__node-default {
    background-color: rgb(0, 192, 255);
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    border: solid 2px black;
    overflow: visible;
    font-size: 11px;
    padding: 0;
    width: auto;
}

.react-flow__node.react-flow__node-default.selected {
    border: solid 2px rgb(0,192,255);
}

.react-flow__node-default .react-flow__handle.port {
    top:0;
    left: 0;
    transform: none;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0;
    position: static;
}

.react-flow__node-default .port:hover {
    background: rgb(192, 255, 0);
}

.react-flow__node-default .port.react-flow__handle-connecting:hover {
    background: rgb(255, 64, 0);
}

.react-flow__node-default .port.react-flow__handle-invalid:hover {
    background: rgb(255, 64, 0);
}

.react-flow__node-default .port.react-flow__handle-connecting.react-flow__handle-valid:hover {
    background: rgb(192, 255, 0);
}

.react-flow__edge-path.path-default {
    stroke-width: 2px;
}